# Node
backend/node_modules/
frontend/node_modules/

# Build Products
backend/dist/
frontend/dist/

# Environment
backend/.env
backend/.env.test
frontend/.env

# Logs
backend/logs/

# Test Coverage Reports
backend/coverage/
